<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav [ngStyle]="{ width: '250px' }" mode="push">
    <mat-toolbar>
      <span>Menu</span>
      <span class="spacer"></span>
      <button (click)="sidenav.toggle()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item
        (click)="sidenav.toggle()"
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url"
      >
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button (click)="sidenav.toggle()" mat-icon-button>
      <mat-icon> menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span>{{user?.email}}</span>
    <button (click)="onLogout()" mat-button>Logout</button>
  </mat-toolbar>

  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
